In [ ]:
# 导入数据

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  #绘图库
import seaborn as sns   #图形可视化
from IPython.display import Image

In [3]:
data = pd.read_csv('clear_data.csv')
train = pd.read_csv('train.csv')

In [4]:
data.shape,train.shape

((891, 11), (891, 12))

In [5]:
data.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,2,3,26.0,0,0,7.9250,1,0,0,0,1
3,3,1,35.0,1,0,53.1000,1,0,0,0,1
4,4,3,35.0,0,0,8.0500,0,1,0,0,1

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#选择建模数据
#选择合适的模型

In [ ]:
监督学习：标记得数据中
无监督学习：从未经标记的数据中学习

In [ ]:
#为了 评估模型的性能和泛化能力，需要数据要验证

In [ ]:
划分数据集的方法：
    留出法：自变量（影响结果的因素）和因变量（结果、标签）
    交叉验证法：
    自助法：

In [8]:
X =data
y = train['Survived']

In [ ]:
# sklearn中划分数据集的方法为train_test_split

In [9]:
from sklearn.model_selection import train_test_split

In [ ]:
# 查看文档

In [11]:
train_test_split?
#自变量和因变量长度一致
#测试集大小：浮点表示测试机的占比，整数表示具体测试机样本数量，若不填则默认为25%
#训练集大小：
#random_state:随机种子，默认没有，整数表示结果一致，可重复使用。若为0或不填，每次就不一样
# shuffle:是否先打乱顺序在划分，默认执行。
#stratify:按某一列进行分层采样，数组形式

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
   X, y,stratify = y, random_state=42)

In [14]:
X_train.shape,X_test.shape

((668, 11), (223, 11))

In [15]:
223/891# 测试集占比25%

0.250280583613917

In [16]:
X_train.head(2)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
486,486,1,35.0,1,0,90.0,1,0,0,0,1
238,238,2,19.0,0,0,10.5,0,1,0,0,1

In [ ]:
## 模型创建

In [ ]:
#导入逻辑回归和随机森林

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#创建逻辑回归模型（分类模型，常用于二分类）

In [ ]:
#fit方法根据给定的数据拟合模型
# fit(X,y,sample_weight=None)
#X训练样本，y是对应的已知标签，还有样本权重参数

##predict方法是预测数据，预测样本的分类标签的方法
predict(X)

In [19]:
train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
# predict_proba方法用来做概率估计，返回的是样本为某个标签的概率
#score方法根据给定测试数据的X Y，返回平均准确度

In [21]:
lr = LogisticRegression().fit(X_train,y_train)
#创建模型，用训练集的X y 进行训练
lr

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
'训练集的得分:{:.2f}'.format(lr.score(X_train,y_train))  #训练集的得分

'训练集的得分:0.80'

In [25]:
print('训练集的得分:{:.2f}'.format(lr.score(X_train,y_train)))#训练集的得分

训练集的得分:0.80

In [ ]:
#正则化是防止过拟合，通过对模型添加正则化项可以限制模型的复杂度，使得模型在复杂度和性能
#达到平衡

#C越小越能限制模型的复杂度,但是模型越简单会欠拟合

In [26]:
lr = LogisticRegression(C=0.01).fit(X_train,y_train)
print('训练集的得分:{:.3f}'.format(lr.score(X_train,y_train)))#训练集的得分

训练集的得分:0.756

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [27]:
lr = LogisticRegression(C=1000).fit(X_train,y_train)
print('训练集的得分:{:.3f}'.format(lr.score(X_train,y_train)))#训练集的得分

训练集的得分:0.805

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
lr = LogisticRegression(class_weight = 'balance').fit(X_train,y_train)
print('训练集的得分:{:.3f}'.format(lr.score(X_train,y_train)))#训练集的得分

训练集的得分:0.801

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
# 创建树的模型（随机森林）：分类器，包含多个决策树分类器

In [ ]:
随机森林是由多棵决策树组成的，不同的决策树之间是没有联系的。
进行分类任务时，随机森林中的每一棵决策树都分别对自己的样本进行判断和分类，每一棵决策树得到自己的结果。
用多个决策树拟合数据集的子样本，使用平均值提高精度和控制过拟合。

In [30]:
rf = RandomForestClassifier().fit(X_train,y_train)
print('训练集的得分:{:.3f}'.format(rf.score(X_train,y_train)))#训练集的得分

训练集的得分:1.000