In [46]:
import jieba
import jieba.posseg as pseg
import codecs
import re
import os
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
## load segement result ##
cwd = os.getcwd() #work place

seg_news = list()
category = list()

with codecs.open(cwd+'/data/seg.csv','r',encoding='utf-8') as seg_file:
    for seg in seg_file.readlines():
        line = seg.split(',')
        seg_news.append(line[0].strip())
        category.append(line[1].strip())

In [4]:
## 計算tfidf ##
vectorizer = TfidfVectorizer(min_df = 5)
tfidf = vectorizer.fit_transform(seg_news)
print('tfidf shape:',tfidf.shape)

tfidf shape: (500, 3398)

In [23]:
## 開始分群 ##
from sklearn.cluster import KMeans

print('Start Kmeans:')

clf = KMeans(n_clusters=5, random_state=1)
clf.fit(tfidf)

print(clf.cluster_centers_) #群中心

# 每個樣本所属的群
print(clf.labels_)

pred = list()

i = 1

while i <= len(clf.labels_):
    #print(i, clf.labels_[i-1],category[i-1])
    pred.append(str(clf.labels_[i-1]))
    i = i + 1

print(clf.inertia_)

Start Kmeans:
[[0.00035223 0.         0.00360083 ... 0.01589528 0.         0.0019274 ]
 [0.00230987 0.00039187 0.008646   ... 0.         0.         0.00133262]
 [0.00082193 0.00158445 0.00266356 ... 0.         0.         0.00110929]
 [0.         0.00014673 0.00523772 ... 0.         0.00226737 0.        ]
 [0.         0.         0.00049075 ... 0.         0.         0.        ]]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 4 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 4 4 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 4 4 3 4 4 4 3 3 4 4 4
 3 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 1
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 4 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 0 4 0 0 3 0 0 0 0 0 0 0 0 0 0 0 4 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 4 3 0 0 0 0 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 4 0 2 2 2 2 2 2 2 2]
448.81855660988623

In [22]:
import numpy as np

y_true = np.array(category)
y_pred = np.array(pred)

import pandas as pd

pd.crosstab(y_true, y_pred, rownames=['Actual'], colnames=['Cluster'])

Cluster   0   1   2   3   4
Actual
娛樂        0  97   0   0   3
社會        0   0   0   8  92
財金        0   1   0  98   1
遊戲       94   0   1   2   3
體育        1   0  98   0   1